@model RegisterData

@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        background-color: #B7B0F1
    }
    .form-container {
        max-width: 750px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 30%;
        background-color: #343a40;
        color: white
    }

    .form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
</style>

<div class="form-wrapper">
    <div class="form-container">
  

        <form asp-action="Register" method="post">
            <h4 style="text-align:center">Registro</h4>
            <span class="font-weight-bold"> @ViewBag.Message </span>
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dni" class="form-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirm" class="form-label"></label>
                <input asp-for="PasswordConfirm" type="password" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
            <a type="button" class="btn btn-primary" href="/Auth/Login">Ingresar</a>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
