@model UserData;

<style>
    .index {
        display: flex;
        width: 100%;
        height: max-content;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px; /* Agregar padding para separar del borde */
    }

    .item {
        width: 100%;
        margin: 0px auto; /* Centrar y agregar margen */
    }

    .card {
        width: 100%;
        height: 170px;
        margin: 10px 0; /* Separar tarjetas verticalmente */
    }
</style>

<partial name="_Header" model="Model.Name"></partial>

<div class="index">
    <partial name="_Sidebar"></partial>

    <section>
        <div class="item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Estacionamiento medido</h5>
                    <p class="card-text">
                        Permite estacionar el auto, consultar saldos, ver movimientos,
                        cargar saldo virtual o pagar infracciones.
                    </p>
                    <a asp-controller="Parking" asp-action="Index" style="background-color:#3F495E" class="btn btn-primary">Acceder</a>
                    @TempData["Message"]
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mi Salud</h5>
                    <p class="card-text">
                        Getione sus turnos en cualquiera de los 39 centros del municipio
                    </p>
                    <a asp-controller="Salud" asp-action="Form" style="background-color:#3F495E"  class="btn btn-primary">Acceder</a>
                </div>
            </div>
        </div>

    </section>
</div>

<partial name="_Footer"></partial>
