@model MIMDP_APP.Models.Salud.request.AccesRequest
@{
}

<style>
    .index {
        display: flex;
    }

    .contenido {
        width: 100%;
        padding: 20px;
    }

    .container-custom {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>

<partial name="_Header" model='TempData["UserName"]'></partial>

<div class="index">
    <partial name="_Sidebar" />

    <div class="contenido">
        <div class="container-custom">
            <form asp-action="SubmitForm" method="post">
                
                <div class="form-group">
                    <label asp-for="NumeroDeTramite" name="NumeroDeTramite">Proporcione el numero de tramite del DNI</label>
                    <input asp-for="NumeroDeTramite" name="NumeroDeTramite" type="text" class="form-control">
                    <span asp-validation-for="NumeroDeTramite" class="text-danger"></span>
                </div>
                <button asp-action="Index" asp-controller="Salud" style="background-color:#3F495E" type="submit" class="btn btn-primary">Ingresar</button>
                @ViewBag.Message
            </form>
        </div>

        
    </div>
</div>

<partial name="_Footer"></partial>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
